[*.cs]

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = warning

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none


<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="MiConexionMySQL"
             connectionString="Server=localhost;Database=tallerdechart;Uid=root;Pwd=1234;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>